{% extends "base_generic.html" %}
{% block contact %}
{% load static %}
          <!-- Single Content -->
          <div id="content" class="site-content center-relative">
            <div class="single-post-wrapper content-1070 center-relative">

                <article class="center-relative">
                    <h1>수정 페이지</h1>
                    {% load widget_tweaks %}
                    <form action="" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                        <table>
                            {{form.as_table}}
                            
                        </table>
                        <input type="submit" value="수정 완료">
                        </div>
                    </form>
                </article>
                <div class="clear"></div>
            </div>
      
{% endblock %}